@keyframes enlargetop {
  0% {
  	height: 60px;
  }
  50% {
    height: 120px;
  }
  100%{
    height: 60px;
  }
}

.animation-enlarge-top{
  animation-name: enlargetop;
}


.transition-enlarge-top{
  height: 60px;
  -webkit-transition-property: height; /* Safari */
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-property: height;
  transition-duration: 0.5s;
}

.transition-enlarge-top:hover{
  height: 120px;
}
